* {
    box-sizing: border-box;
  }
  
  /* Add a gray background color with some padding */
  body {
    font-family: Arial;
    padding: 20px;
    background: white;
    color: #05386b;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    
  }
  .info {
    font-size: 16px;
  }
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  span {
      color: #caebf2;
  }
  .checked {
    color: #05386b;
  }
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  .metric1 {
    background-color: #F8F8F8;
    width: 100%;
    padding: 20px;
    border-left: 20px solid #379683;
    grid-area: first;
    cursor: pointer;
  }
  .metric1:hover ~ .definition1{
    display: block;
  }
  .metric2 {
    background-color: 	#F8F8F8;
    width: 100%;
    padding: 20px;
    border-left: 5px solid #379683;
    grid-area: second;
  }
  .metric2:hover ~ .definition2{
    display: block;
  }
  .metric3 {
    background-color: 	#F8F8F8;
    width: 100%;
    padding: 20px;
    border-left: 50px solid #379683;
    grid-area: third;
  }
  .metric3:hover ~ .definition3{
    display: block;

  }
  .metric4 {
    background-color:	#F8F8F8;
    width: 100%;
    padding: 20px;
    border-left: 80px solid #379683;
    grid-area: fourth;
  }
  .metric4:hover ~ .definition4{
    display: block;
  }
  .metric5 {
    background-color:	#F8F8F8;
    width: 100%;
    padding: 20px;
    border-left: 20px solid #379683;
    grid-area: fifth;
  }
  .metric5:hover ~ .definition5{
    display: block;
  }
 .definition1 {
    text-align: right;
    display: none;
 }
 .definition2 {
    text-align: right;
    display: none;
 }
 .definition3 {
    text-align: right;
    display: none;
 }
 .definition4 {
    text-align: right;
    display: none;
 }
 .definition5 {
    text-align: right;
    display: none;
 }
  /* Add a card effect for articles */
  .card {
     background-color: 	#F8F8F8;
     padding: 20px;
     margin-top: 20px;
  }
  .met {
    background-color: 	#F8F8F8;
    padding: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-areas:
        'first first first first desc desc'
        'second second second second desc desc'
        'third third third third desc desc'
        'fourth fourth fourth fourth desc desc'
        'fifth fifth fifth fifth desc desc';
    grid-gap: 10px;
  }
  .alternates {
      font-size: 20px;
      line-height: 1.6;
      
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 0px;
    padding-bottom: 10px;
    padding-top: 2px;
    padding-left: 2px;
    text-align: left;
    background: #ddd;
    margin-top: 10px;
    background-color: white;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }