#hidden-score {
	display: none;
	color: rgb(89, 233, 84)e;
}

.progress-ring__circle {
  -webkit-transition: 0.35s stroke-dashoffset;
  transition: 0.35s stroke-dashoffset;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.progress-ring {
		
        display: inline-block;
        margin-left: 225px;      
}
/* the two above shouldn't affect position */


.encapsulateProgress {
	text-align: center;
	border: 1px black solid;
}


#wrapdisplay {
	position: absolute;
	top: 238px;
    left: 50%;
    
    margin-left: -50px;
	
}

#display {
        /* position: absolute;
        top: 330px;
        left: 45vw; */
        text-align: center;
		
        font-size: 125px;
        color: rgb(89, 233, 84)e;
        /* z-index: 1; */
}
.allfactors {
	display: flex;
	position: relative;
	top: 100px;
	left: 50px;
}
.encapsulateAFact {
	position: relative;
	top: -300px;
	left: 0px;
	border: 1px solid black;
} 
#fact{
	font-size: 80px;
	position: absolute;
	top: 58px;
	left: 75px;
}



#companyname {
  top: 20px;
  left: -20px;
  position: relative;
  text-align: center;
  font-size: 80px;
  padding: 0;
  margin: 0;
}
*{margin: 0; padding: 0; border: 0; outline: 0;}

  body {
    font-family: Arial;
    padding: 20px;
    background: white;
    color: #05386b;
  }
  
  .header {
    padding: 0px;
    font-size: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 3;
    display: flex;
    
  }

.title {
  position: fixed;
  left: 34vw;
}

#home {
  font-size: 30px;
}
  
  

  #tagline {
    color: grey;
    font-size: 0.5em;
    margin: 0;
    padding: 0;
  }

  /* Clear floats after the columns */
 .input-group {
  width: 400px;
  margin: auto;
  position: fixed;
  left: 41vw;
  top:0.5vh;
  
  
 }
 .insearch {
   width: 100%;
 }
  .form-control {
    width: 250px;
    padding: 5px;
    height: 35px;
  }
  .suggestdiv {
    width: 100%;
    margin: auto;
  }
  
  .list-group {
    list-style-type:none;
    margin: 0;
  padding: 0;
  }
  .dropdown {
    width: 100%;
    height: 60px;
    text-align: left;
    font-size: 0.75em;
    opacity: 0.9;
    cursor: pointer;
  }
 .dropdown:hover{
   background-color: #cccccc;
 }
  /* Footer */
  .footer {
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   
   display: flex;
   align-items: center;
   justify-content: center;
   space-between: 10px;
  }
 
 .how {
 	padding-right: 20px;
 }
 .about {
 	padding-left: 20px;
 }
  .links {
    color: white;
  }
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */